node_modules
.pnpm-store
.data
.env
.env.local
.next
.expo
.output
dist
coverage
*.tsbuildinfo
.wxt
apps/extension/.output
apps/extension/.wxt
apps/mobile/.expo
apps/web/.next
supabase/.temp
.DS_Store
